@use "../abstracts" as *;


// -----------------------------------------------------------------------------
// Wrapper
// -----------------------------------------------------------------------------

.wrapper {
    --_wrapper-width: var(--wrapper-width, #{$page-width});
    --_wrapper-padding: var(--wrapper-padding, #{$page-padding});

    width: min(100%, (var(--_wrapper-width) + (var(--_wrapper-padding) * 2)));
    margin-inline: auto;
    padding-inline: var(--_wrapper-padding);
}