@use "../abstracts" as *;

// -----------------------------------------------------------------------------
// Wrapper
// -----------------------------------------------------------------------------

.wrapper {
    --_wrapper-width: var(--wrapper-width, #{$page-width});
    --_wrapper-inline-padding: var(--wrapper-inline-padding, #{$page-padding});

    width: min(100%, var(--_wrapper-width) + (var(--_wrapper-inline-padding) * 2));
    padding-inline: var(--_wrapper-inline-padding);
    margin-inline: auto;
}