<section class="[ hero ] [] [ region ]">
    <div class="hero__inner [ flow ]">
        <h1 class="hero__title">Timothy Remst. Building Digital Products & Brands</h1>
        <p class="hero__description">I'm Timothy, a creative Illustrator & Art Director based in Tilburg. I seek to push the limits of creativity to create high-engaging and memorable interactive experiences.</p>
        <div class="hero__buttons">
            <a href="/contact" class="button">Get In Touch</a>
            <a href="/about" class="button button--ghost">About Me</a>
        </div>
    </div>
</section>