{{ with .Site.Data.testimonial }}
    {{ if .enable }}
        <section class="[ testimonial ] [ fullwidth ] [ region ]">
            <div class="wrapper flow">
                <div class="section__head">
                    <h2 class="section__title">{{ .testimonial.title }}</h2>
                    <ul>
                        <li>prev</li>
                        <li>next</li>
                    </ul>
                </div>
                <div class="grid-auto-fit" data-cols="halfs">
                    {{ range .testimonial.items }}
                        <div class="card">
                            <div class="card__content">
                                <div class="client-meta | flow">
                                    <a href="#" class="client-image">
                                        <img class="client-avatar" src="{{ .thumb | absURL }}" alt="{{ .name }}" loading="lazy">
                                    </a>
                                    <div class="client-info">
                                        <h3 class="client-name">{{ .name }}</h3>
                                        <p class="client-function">{{ .position }}</p>
                                    </div>
                                    <div class="[ client-quote ] [ flow ]">
                                        {{ .quote }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {{ end }}
                </div>
            </div>
        </section>
    {{ end }}
{{ end }}