{{ define "main" }}
<section class="[ projects ] [] [ region ]">
    <div class="section__head">
        <h2 class="section__title">{{ .Site.Params.projects.section.title }}</h2>
        {{/*  <a class="section__link" href="{{ .Site.Params.projects.section.link.url }}">{{ .Site.Params.projects.section.link.text }}</a>  */}}
    </div>
    <div class="grid-auto-fit" data-cols="thirds">
        {{ range (where $.Site.RegularPages "Type" "project") }}
        <div class="card">
            <div class="card__image">
                <img src="{{ .Params.Image | absURL }}" alt="">
            </div>
            <div class="card__content">
                <span>{{ delimit .Params.category ", " }}</span>
                <h3>{{ .Title }}</h3>
                <a href="{{ .Permalink }}" class="read-more">{{ .Site.Params.project.content.view_project }}</a>
            </div>
        </div>
        {{ end }}
    </div>
</section>
{{ end }}