@use "../abstracts" as *;

// -----------------------------------------------------------------------------
// Page
// -----------------------------------------------------------------------------

.page {
    --_page-width: var(--page-width, #{$page-width});
    --_page-padding: var(--page-padding, #{$page-padding});
    --_page-main: var(--page-main, 2/3);
    --_page-calc: minmax(var(--_page-padding), 1fr) minmax(0, min(100%, var(--_page-width))) minmax(var(--_page-padding), 1fr);

    display: grid;
    grid-template-columns: var(--_page-calc);

    & > * {
        grid-column: var(--_page-main);
    }

    & > .fullwidth {
        grid-column: 1 / -1;
    }
}