* {
  padding: 0;
  margin: 0;
  font: inherit;
}
*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  color-scheme: dark light;
  hanging-punctuation: first last;
}

@media (prefers-reduced-motion: no-preference) {
  :has(:target) {
    scroll-behavior: smooth;
    scroll-padding-top: 3rem;
  }
}
:is(h1, h2, h3, h4) {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
  max-inline-size: 75ch;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  vertical-align: middle;
}

img,
video {
  max-width: 100%;
  height: auto;
}

img {
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
  shape-margin: 1rem;
  vertical-align: middle;
}

select, textarea, input, button {
  font: inherit;
}

:root {
  --primary-color: #83bc3c;
  --secondary-color: #be8dff;
  --accent-color: #0eaa9d;
  --light-blue: #fbf6f6;
  --blue-gray: #716f8a;
  --dark-blue: #1e2740;
  --white: #fff;
  --light-gray: #f0f0f0;
  --gray: #9e9e9e;
  --dark: #111016;
  --background-color: var(--dark);
  --background-alt-color: #1a1a1f;
  --text-color: var(--gray);
  --text-alt-color: var(--gray);
  --heading-font-color: var(--light-gray);
  --link-color: var(--light-gray);
  --link-color-hover: var(--light-gray);
  --button-color: var(--dark);
  --button-background-color: var(--light-gray);
  --button-background-hover: var(--primary-color);
  --ff-base: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
  --ff-accent: Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  --ff-mono: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
  --fs-200: clamp(0.7035rem, 0.7472rem - 0.0466vi, 0.7378rem);
  --fs-300: clamp(0.8854rem, 0.8712rem + 0.0709vi, 0.9377rem);
  --fs-400: clamp(1.0625rem, 1.0117rem + 0.2542vi, 1.25rem);
  --fs-500: clamp(1.275rem, 1.1689rem + 0.5305vi, 1.6663rem);
  --fs-600: clamp(1.53rem, 1.3426rem + 0.9371vi, 2.2211rem);
  --fs-700: clamp(1.836rem, 1.531rem + 1.5251vi, 2.9607rem);
  --fs-800: clamp(2.2032rem, 1.7304rem + 2.364vi, 3.9467rem);
  --fs-900: clamp(2.6438rem, 1.9341rem + 3.5486vi, 5.2609rem);
  --fw-thin: 100;
  --fw-extralight: 200;
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;
  --fw-extrabold: 800;
  --fw-black: 900;
  --size-3xs: clamp(0.25rem, 0.2331rem + 0.0847vi, 0.3125rem);
  --size-2xs: clamp(0.5625rem, 0.5456rem + 0.0847vi, 0.625rem);
  --size-xs: clamp(0.8125rem, 0.7786rem + 0.1695vi, 0.9375rem);
  --size-s: clamp(1.0625rem, 1.0117rem + 0.2542vi, 1.25rem);
  --size-m: clamp(1.625rem, 1.5572rem + 0.339vi, 1.875rem);
  --size-l: clamp(2.125rem, 2.0233rem + 0.5085vi, 2.5rem);
  --size-xl: clamp(3.1875rem, 3.035rem + 0.7627vi, 3.75rem);
  --size-2xl: clamp(4.25rem, 4.0466rem + 1.0169vi, 5rem);
  --size-3xl: clamp(6.375rem, 6.0699rem + 1.5254vi, 7.5rem);
  --size-3xs-2xs: clamp(0.25rem, 0.1483rem + 0.5085vi, 0.625rem);
  --size-2xs-xs: clamp(0.5625rem, 0.4608rem + 0.5085vi, 0.9375rem);
  --size-xs-s: clamp(0.8125rem, 0.6939rem + 0.5932vi, 1.25rem);
  --size-s-m: clamp(1.0625rem, 0.8422rem + 1.1017vi, 1.875rem);
  --size-m-l: clamp(1.625rem, 1.3877rem + 1.1864vi, 2.5rem);
  --size-l-xl: clamp(2.125rem, 1.6843rem + 2.2034vi, 3.75rem);
  --size-xl-2xl: clamp(3.1875rem, 2.696rem + 2.4576vi, 5rem);
  --size-2xl-3xl: clamp(4.25rem, 3.3686rem + 4.4068vi, 7.5rem);
  --size-s-l: clamp(1.0625rem, 0.6727rem + 1.9492vi, 2.5rem);
  --width-xs: 40em;
  --width-sm: 48em;
  --width-md: 64em;
  --width-lg: 80em;
  --width-xl: 96em;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--ff-base);
  font-size: var(--fs-400);
  font-weight: var(--fw-regular);
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  --_foreground: var(--foreground, var(--heading-font-color));
  --_heading-family: var(--heading-family, var(--ff-accent));
  --_heading-size: var(--heading-size, inherit);
  --_heading-weight: var(--heading-weight, var(--fw-bold));
  --_line-height: var(--line-height, 1.1);
  color: var(--_foreground);
  font-family: var(--_heading-family);
  font-size: var(--_heading-size);
  font-weight: var(--_heading-weight);
  line-height: var(--_line-height);
}

a:not([class]) {
  text-decoration: underline;
  color: var(--link-color);
}
a:not([class]):is(:hover, :focus, :active) {
  text-decoration: none;
  color: var(--primary-color);
}

input, textarea {
  width: 100%;
  max-width: 100%;
}

.page {
  --_page-width: var(--page-width, var(--width-md));
  --_page-padding: var(--page-padding, 5dvw);
  --_page-main: var(--page-main, 2/3);
  --_page-calc: minmax(var(--_page-padding), 1fr) minmax(0, min(100%, var(--_page-width))) minmax(var(--_page-padding), 1fr);
  display: grid;
  grid-template-columns: var(--_page-calc);
}
.page > * {
  grid-column: var(--_page-main);
}
.page > .fullwidth {
  grid-column: 1/-1;
}

.grid-auto-fit {
  --_grid-placement: var(--grid-placement, auto-fill);
  --_grid-min-col-size: var(--grid-min-col-size, 16rem);
  --_grid-gap: var(--grid-gap, var(--size-m));
  display: grid;
  grid-template-columns: repeat(var(--_grid-placement), minmax(var(--_grid-min-col-size), 1fr));
  gap: var(--_grid-gap);
}

.grid-auto-fit[data-cols=halfs] {
  --grid-placement: auto-fit;
  --min-col-size: clamp(20rem, 50vw, 26rem);
}
.grid-auto-fit[data-cols=thirds] {
  --grid-placement: auto-fit;
  --min-col-size: clamp(10rem, 50vw, 20rem);
}
.grid-auto-fit[data-rows=masonry] {
  grid-template-rows: masonry;
  align-items: start;
}

.button {
  --_button-foreground: var(--button-foreground, var(--dark));
  --_button-foreground-hover: var(--button-foreground-hover, var(--white));
  --_button-background: var(--button-background, var(--light-gray));
  --_button-background-hover: var(--button-background-hover, var(--primary-color));
  --_button-padding: var(--button-padding, 1.25rem);
  --_button-border-radius: var(--button-border-radius, 9999px);
  --_button-font-size: var(--button-font-size, 1rem);
  display: inline-block;
  align-items: center;
  text-decoration: none;
  padding: var(--_button-padding);
  color: var(--_button-foreground);
  background: var(--_button-background);
  border: 0.125rem solid transparent;
  border-radius: var(--_button-border-radius);
  transition: all 0.2s;
  font-family: var(--ff-base);
  font-size: var(--_button-font-size);
  font-weight: var(--fw-semibold);
  line-height: 1;
  cursor: pointer;
  will-change: transform;
}
.button:is(:hover) {
  --_button-foreground: var(--_button-foreground-hover);
  --_button-background: var(--_button-background-hover);
  scale: 1.05;
}

.button--ghost {
  --_button-foreground: var(--_button-background);
  background: transparent;
  border-color: currentColor;
}
.button--ghost:is(:hover) {
  --_button-foreground: var(--_button-background-hover);
}

.card {
  --_card-flow-space: var(--card-flow-space, 0.25rem);
  --_card-padding: var(--card-padding, var(--size-l) var(--size-m));
  --_card-foreground: var(--card-foreground, var(--light-gray));
  --_card-background: var(--card-background, var(--background-alt-color));
  --_card-font-family: var(--card-font-family, var(--ff-base));
  --_card-border-radius: var(--card-border-radius, var(--size-s));
  display: grid;
  position: relative;
  overflow: clip;
  font-family: var(--_card-font-family);
  color: var(--_card-foreground);
  background: var(--_card-background);
  gap: var(--_card-flow-space);
  border-radius: var(--_card-border-radius);
}
.card__image img {
  width: 100%;
  height: 100%;
  aspect-ratio: 1;
  object-fit: cover;
}
.card__content {
  padding: var(--_card-padding);
}

.site-nav {
  position: relative;
  width: 100%;
  display: flex;
}
.site-nav__list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.site-nav__link {
  --_nav-link-color: var(--nav-link-color, var(--light-gray));
  --_nav-link-padding: var(--nav-link-padding, var(--size-xs) var(--size-s));
  color: var(--_nav-link-color);
  padding: var(--_nav-link-padding);
  text-decoration: none;
}
.site-nav__link:is(:hover, :focus) {
  --nav-link-color: var(--primary);
}

.flex-group {
  --_flex-group-col-gap: var(--flex-group-col-gap, var(--size-m));
  --_flex-group-row-gap: var(--flex-group-row-gap, calc(var(--size-m) / 2));
  --_flex-group-width: var(--flex-group-width, fit-content);
  display: flex;
  flex-wrap: wrap;
  column-gap: var(--_flex-group-col-gap);
}

.flow > * + * {
  margin-top: var(--flow-space, 1rem);
}

.wrapper {
  --_wrapper-width: var(--wrapper-width, var(--width-md));
  --_wrapper-inline-padding: var(--wrapper-inline-padding, 5dvw);
  width: min(100%, var(--_wrapper-width) + var(--_wrapper-inline-padding) * 2);
  padding-inline: var(--_wrapper-inline-padding);
  margin-inline: auto;
}

h1, .h1 {
  --heading-size: var(--fs-900);
}

h2, .h2 {
  --heading-size: var(--fs-700);
}

h3, .h3 {
  --heading-size: var(--fs-500);
}

.hero__inner {
  position: relative;
}
@media screen and (min-width: 640px) {
  .hero__inner {
    text-align: center;
  }
}
.hero__title {
  line-height: 1.2;
}
.hero__description {
  font-size: var(--fs-500);
  margin-inline: auto;
}
.hero__buttons {
  margin-top: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.section__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: var(--size-m);
}
.section__title {
  font-size: var(--fs-500);
  font-weight: var(--fw-semibold);
}
.section__link {
  font-size: var(--fs-400);
  font-weight: var(--fw-medium);
  font-style: italic;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
}
.section__link:is(:hover, :focus) {
  text-decoration: none;
}

.testimonial {
  background-color: var(--secondary-color);
}

.client-image {
  position: relative;
  display: block;
  width: 100px;
  height: 100px;
  margin: 0 auto 12px;
  border-radius: 50%;
  overflow: clip;
}
.client-avatar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  user-select: none;
}
.client-info, .client-quote {
  text-align: center;
}
.client-name {
  font-family: var(--ff-base);
  font-size: var(--fs-400);
}
.client-function {
  color: var(--text-alt-color);
  font-size: var(--fs-300);
}

.region {
  padding-block: var(--region-space, 3.3vmax);
}

.text-center {
  text-align: center;
}