// -----------------------------------------------------------------------------
// THEME
// -----------------------------------------------------------------------------

$active-theme: ;
$enable-media-query-dark-mode: false;

$primary-color: ;
$secondary-color: ;
$accent-color: ;

$background-color: ;
$background-alt-color: ;