@use "../abstracts" as *;

// -----------------------------------------------------------------------------
// Button
// -----------------------------------------------------------------------------

.button {
    --_button-foreground: var(--button-foreground, var(--dark));
    --_button-foreground-hover: var(--button-foreground-hover, var(--white));
    --_button-background: var(--button-background, var(--light-gray));
    --_button-background-hover: var(--button-background-hover, var(--primary-color));
    --_button-padding: var(--button-padding, 1.25rem);
    --_button-border-radius: var(--button-border-radius, 9999px);
    --_button-font-size: var(--button-font-size, 1rem);

    display: inline-block;
    align-items: center;
    text-decoration: none;
    padding: var(--_button-padding);
    color: var(--_button-foreground);
    background: var(--_button-background);
    border: 0.125rem solid transparent;
    border-radius: var(--_button-border-radius);
    transition: all .2s;
    font-family: var(--ff-base);
    font-size: var(--_button-font-size);
    font-weight: var(--fw-semibold);
    line-height: 1;
    cursor: pointer;
    will-change: transform;

    &:is(:hover) {
        --_button-foreground: var(--_button-foreground-hover);
        --_button-background: var(--_button-background-hover);
        scale: 1.05;
    }
}



// -----------------------------------------------------------------------------
// Button outlined
// -----------------------------------------------------------------------------

.button {

    &--ghost {
        --_button-foreground: var(--_button-background);
        background: transparent;
        border-color: currentColor;

        &:is(:hover) {
            --_button-foreground: var(--_button-background-hover);
        }
    }
}