@use "../abstracts" as *;

// -----------------------------------------------------------------------------
// Card
// -----------------------------------------------------------------------------

.card {
    --_card-flow-space: var(--card-flow-space, #{$card-flow-space});
    --_card-padding: var(--card-padding, #{$card-padding});
    --_card-foreground: var(--card-foreground, #{$card-foreground});
    --_card-background: var(--card-background, #{$card-background});
    --_card-font-family: var(--card-font-family, #{$card-font-family});
    --_card-border-radius: var(--card-border-radius, #{$card-border-radius});

    display: grid;
    position: relative;
    overflow: clip;
    font-family: var(--_card-font-family);
    color: var(--_card-foreground);
    background: var(--_card-background);
    gap: var(--_card-flow-space);
    border-radius: var(--_card-border-radius);

    &__image {

        img {
            width: 100%;
            height: 100%;
            aspect-ratio: 1;
            object-fit: cover;
        }
    }

    &__content {
        padding: var(--_card-padding);
    }
}