@use "../abstracts" as *;


// -----------------------------------------------------------------------------
// LOGO
// -----------------------------------------------------------------------------

.site__logo {
    color: #{$heading-foreground};
    font-size: var(--fs-300);
    font-weight: var(--fw-bold);
    text-transform: uppercase;
    letter-spacing: .0375rem;
    flex: 1;
    text-decoration: none;
}


// -----------------------------------------------------------------------------
// SITE NAVIGATION
// -----------------------------------------------------------------------------

.site-nav {
    position: relative;
    display: none;
    width: 100%;
    order: 3;

    &__list {
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    &__item {
        position: relative;
        width: 100%;
        text-align: center;
    }

    &__link {
        --_nav-link-color: var(--nav-link-color, #{$nav-link-color});
        --_nav-link-padding: var(--nav-link-padding, #{$nav-link-padding});

        display: block;
        color: var(--_nav-link-color);
        padding: var(--_nav-link-padding);
        text-decoration: none;

        &:is(:hover, :focus) {
            --nav-link-color: #{$nav-link-color-hover};
        }
    }
}



.site-nav__item > .button {
    padding: var(--size-xs) var(--size-s);
}



.site-nav.open {
    display: block;
}



//
//
//

@include mq(md) {
    .site-nav {
        display: flex;

        &,
        &__item {
            width: auto;
        }

        &__item {
            text-align: start;
        }
    }
}