@use "../abstracts" as *;


// -----------------------------------------------------------------------------
//
// -----------------------------------------------------------------------------

.site-header {
    --_site-header-foreground: var(--site-header-foreground, #{$site-header-foreground});
    --_site-header-background: var(--site-header-background, #{$site-header-background});
    --_site-header-padding: var(--site-header-padding, #{$site-header-padding});

    color: var(--_site-header-foreground);
    background: var(--_site-header-background);
    padding: var(--_site-header-padding);

    &__inner {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        max-width: #{$page-width};
        margin-inline: auto;
    }
}