@use "../abstracts" as *;

//
//
//

.site-nav {
    position: relative;
    width: 100%;

    display: flex;

    &__list {
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    &__item {}

    &__link {
        --_nav-link-color: var(--nav-link-color, #{$nav-link-color});
        --_nav-link-padding: var(--nav-link-padding, #{$nav-link-padding});

        color: var(--_nav-link-color);
        padding: var(--_nav-link-padding);
        text-decoration: none;

        &:is(:hover, :focus) {
            --nav-link-color: #{$nav-link-color-hover};
        }
    }
}