@use "../abstracts" as *;

// -----------------------------------------------------------------------------
// Body
// -----------------------------------------------------------------------------

body {
    color: #{$body-foreground};
    background: #{$body-background};
    font-family: #{$body-font-family};
    font-size: #{$body-font-size};
    font-weight: #{$body-font-weight};
    line-height: #{$body-line-height};
}



// -----------------------------------------------------------------------------
// Headings
// -----------------------------------------------------------------------------

h1, h2, h3, h4, h5, h6 {
    --_foreground: var(--foreground, #{$heading-foreground});
    --_font-family: var(--font-family, #{$heading-font-family});
    --_font-size: var(--font-size, #{$heading-font-size});
    --_font-weight: var(--font-weight, #{$heading-font-weight});
    --_line-height: var(--line-height, #{$heading-line-height});

    color: var(--_foreground);
    font-family: var(--_font-family);
    font-size: var(--_font-size);
    font-weight: var(--_font-weight);
    line-height: var(--_line-height);
}


p:not([class]) {
    max-width: 75ch;
}



// -----------------------------------------------------------------------------
// Anchor(s)
// -----------------------------------------------------------------------------

a {
    --_text-decoration: var(--text-decoration, #{$link-text-decoration});
    --_text-decoration-hover: var(--text-decoration-hover, #{$link-text-decoration-hover});
    --_line-offset: var(--line-offset, #{$link-line-offset});
    --_link-foreground: var(--link-foreground, #{$link-foreground});
    --_link-foreground-hover: var(--link-foreground-hover, #{$link-foreground-hover});

    color: var(--_link-foreground);
    text-decoration: var(--_text-decoration);
    text-underline-offset: var(--_line-offset);

    &:is(:hover, :focus) {
        --link-foreground: var(--_link-foreground-hover);
        --text-decoration: var(--_text-decoration-hover);
    }
}



// -----------------------------------------------------------------------------
// Inputs
// -----------------------------------------------------------------------------

input, textarea {
    width: 100%;
    max-width: 100%;
    background: #{$input-background};
    padding: #{$input-padding};
    border: #{$input-border};
    border-radius: #{$global-radius};
}