<!DOCTYPE html>
<html lang="en">
{{ include "partials/shared/head.vto" }}
<body>
    {{ include "partials/shared/site-header.vto" }}
    {{- content -}}
    {{ include "partials/shared/site-footer.vto" }}
</body>
</html>