{{ define "main" }}
    <section class="[ portfolio ] [ flow ] [ region ]">
        <div class="section-title">
            <h1>{{ .Title | safeHTML }}</h1>
        </div>
        <div class="grid-auto-fit" data-cols="halfs">
            {{ range (.Paginator 4).Pages }}
            <div class="card">
                <div class="card__thumb">
                    <img src="{{ .Params.Image | absURL }}" alt="">
                </div>
                <div class="card__content [ flow ]">
                    <span>{{ delimit .Params.category ", " }}</span>
                    <h3>{{ .Title }}</h3>
                    <a href="{{ .Permalink }}" class="read-more">{{ .Site.Params.portfolio.content.view_project  }}</a>
                </div>
            </div>
            {{ end }}
        </div>
    </section>
{{ end }}