// -----------------------------------------------------------------------------
//
// -----------------------------------------------------------------------------

.grid-auto-fit {
  display: grid;
  grid-template-columns:
    repeat(
    var(--grid-placement, auto-fit),
    minmax(var(--grid-min-col-size), 1fr)
  );
  gap: var(--grid-gap, var(--space-s-l));
}

// -----------------------------------------------------------------------------
//  EXCEPTIONS
// -----------------------------------------------------------------------------

.grid-auto-fit {
  &[data-cols="two"] {
    --grid-min-col-size: clamp(16em, 50vw, 26em);
  }

  &[data-cols="three"] {
    --grid-min-col-size: clamp(16em, 33%, 20em);
  }

  &[data-rows="masonry"] {
    grid-template-rows: masonry;
    align-items: start;
  }
}
