@use "../abstracts" as *;

// -----------------------------------------------------------------------------
//
// -----------------------------------------------------------------------------

.page-layout,
.full-width {
  --page-layout-gap: 2em;

  --page-layout-full-max-width: 1fr;
  --page-layout-popout-max-width: 1640px;
  --page-layout-content-max-width: 1350px;
  --page-layout-narrow-max-width: 1060px;

  --page-layout-full: minmax(var(--page-layout-gap), 1fr);
  --page-layout-popout: minmax(
    0,
    calc(
      (
        var(--page-layout-popout-max-width)
          - var(--page-layout-content-max-width)
      )
        * 0.5
    )
  );
  --page-layout-content: minmax(
    0,
    calc(
      (
        var(--page-layout-content-max-width)
          - var(--page-layout-narrow-max-width)
      )
        * 0.5
    )
  );
  --page-layout-narrow: min(
    var(--page-layout-narrow-max-width),
    100% - var(--page-layout-gap) * 2
  );

  display: grid;
  grid-template-columns:
    [full-start] var(--page-layout-full)
    [popout-start] var(--page-layout-popout)
    [content-start] var(--page-layout-content)
    [narrow-start] var(--page-layout-narrow) [narrow-end]
    var(--page-layout-content) [content-end]
    var(--page-layout-popout) [popout-end]
    var(--page-layout-full) [full-end];

  & > :not(.full-width, .full, .popout, .narrow) {
    grid-column: content;
  }
}

.narrow {
  grid-column: narrow;
}

.popout {
  grid-column: popout;
}

.full,
.full-width {
  grid-column: full;
}
