<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} | {{ site.name }}</title>

    <!-- Styles -->
    <link rel="preload" href="/css/styles.css" as="style">
    <link rel="stylesheet" href="/css/styles.css" />

    <!-- Analitycs -->
    <script defer src="https://cloud.umami.is/script.js" data-website-id="{{ site.umami_id }}"></script>
</head>