<footer class="[ site-footer ] [] [ region ]">
    <div class="site-footer__inner">
        <p>&copy; Copyright {{ site.year }} by <a href="/">{{ site.name }}</a></p>
    </div>
</footer>

<!-- Scripts -->
<script type="module" src="js/main.js"></script>

<!-- ion icons -->
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>