{{ define "main" }}
    <section class="[ contact ] [] [ region ]">
        <div class="grid-auto-fit" data-cols="halfs">
            <div>
                <h1>{{ .Params.heading | safeHTML }}</h1>
            </div>
            <div>
                <h4 class="fw-thin">{{ .Params.form_heading }}</h4>
                <form class="flow region" action="https://formsubmit.co/info@madebymonkeys.nl" method="POST">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" name="name" required>
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" name="email" required>
                    </div>
                    <div class="form-group">
                        <label for="subject">Subject</label>
                        <textarea name="subject" id="subject"></textarea>
                    </div>
                    <button class="button" type="submit">Submit</button>
               </form> 
            </div>
        </div>
    </section>
{{ end }}