@use "../abstracts" as *;

// -----------------------------------------------------------------------------
//
// -----------------------------------------------------------------------------

.content-grid,
.full-width {
    --_padding-inline: var(--padding-inline, #{$content-padding-inline});
    --_content-max-width: var(--content-max-width, #{$content-max-width});
    --_bleed-max-width: var(--bleed-max-width, #{$content-bleed-max-width});

    --_bleed-size: calc((var(--_bleed-max-width) - var(--_content-max-width)) / 2);

    display: grid;
    grid-template-columns: [full-width-start] minmax(var(--_padding-inline), 1fr) [bleed-start] minmax(0, var(--_bleed-size)) [content-start] min(var(--_content-max-width), 100% - (var(--_padding-inline) *2)) [content-end] minmax(0, var(--_bleed-size)) [bleed-end] minmax(var(--_padding-inline), 1fr) [full-width-end];
    justify-items: start;

    & > *:not(.full-width, .bleed) {
        grid-column: content;
        width: 100%;
    }

    & > .bleed {
        grid-column: bleed;
    }

    & > .full-width {
        grid-column: full-width;
    }
}