@use "scss/abstracts" as *;

@use "scss/base";
@use "scss/components";
@use "scss/utilities";
@use "scss/layouts";

// -----------------------------------------------------------------------------
// Globals
// -----------------------------------------------------------------------------




// -----------------------------------------------------------------------------
// ...
// -----------------------------------------------------------------------------

.site-logo {
    --text-decoration: none;
    
    text-transform: uppercase;
    font-weight: var(--fw-bold);
    letter-spacing: .025rem;

    svg {
        fill: var(--neutral-950);
        width: 32px;
    }
}

// -----------------------------------------------------------------------------
// ...
// -----------------------------------------------------------------------------