@use "colors" as *;
//@use "typography" as *;
//@use "sizes" as *;



// -----------------------------------------------------------------------------
// Theme settings
// -----------------------------------------------------------------------------

$active-theme: $light;
$enable-media-query-dark-mode: false;



// -----------------------------------------------------------------------------
// Body
// -----------------------------------------------------------------------------

$body-foreground: var(--neutral-400);
$body-background: var(--neutral-50);

$body-font-family: var(--ff-base);
$body-font-size: var(--fs-400);
$body-font-weight: var(--fw-300);
$body-line-height: 1.5;



// -----------------------------------------------------------------------------
// Anchors
// -----------------------------------------------------------------------------

$link-foreground: var(--neutral-950);
$link-foreground-hover: var(--neutral-600);

$link-text-decoration: underline;
$link-line-offset: auto;



// -----------------------------------------------------------------------------
// Headings
// -----------------------------------------------------------------------------


$heading-foreground: var(--neutral-700);
$heading-font-family: var(--ff-accent);
$heading-font-size: inherit;
$heading-font-weight: var(--fw-bold);
$heading-line-height: 1.1;
