// -----------------------------------------------------------------------------
//
// -----------------------------------------------------------------------------

$-ff-sans:
  ui-sans-serif,
  system-ui,
  sans-serif,
  "Apple Color Emoji",
  "Segoe UI Emoji",
  "Segoe UI Symbol",
  "Noto Color Emoji",;
$-ff-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
$-ff-mono:
  ui-monospace,
  SFMono-Regular,
  Menlo,
  Monaco,
  Consolas,
  "Liberation Mono",
  "Courier New",
  monospace,;

$font-families: (
  "base": #{$-ff-sans},
  "accent": #{$-ff-serif},
  "mono": #{$-ff-mono},
);

// -----------------------------------------------------------------------------
//
// -----------------------------------------------------------------------------

$font-sizes: (
  "200": clamp(0.6252rem, 0.716rem + -0.1076vw, 0.6944rem),
  "300": clamp(0.8333rem, 0.8176rem + 0.0787vw, 0.884rem),
  "400": clamp(1rem, 0.9223rem + 0.3883vw, 1.25rem),
  "500": clamp(1.2rem, 1.0237rem + 0.8816vw, 1.7675rem),
  "600": clamp(1.44rem, 1.1109rem + 1.6454vw, 2.4992rem),
  "700": clamp(1.728rem, 1.1669rem + 2.8053vw, 3.5339rem),
  "800": clamp(2.0736rem, 1.1654rem + 4.5412vw, 4.997rem),
  "900": clamp(2.4883rem, 1.0662rem + 7.1105vw, 7.0657rem),
);

// -----------------------------------------------------------------------------
//
// -----------------------------------------------------------------------------

$font-weights: (
  "thin": 100,
  "extralight": 200,
  "light": 300,
  "regular": 400,
  "medium": 500,
  "semibold": 600,
  "bold": 700,
  "extrabold": 800,
  "black": 900,
);
